*{
    margin: 0;
    padding: 0;
    font-family: "Josefin Sans", sans-serif;
    box-sizing: border-box;
}

html, body{
    height: 100%;
    width: 100%;

}

.align_footer{
    min-height: 100%;
    min-width: 100%;

}
section{
    display: flex;
    /*position: absolute;*/
    z-index: 4;
}

/*section01 codes*/

.section1{
    width: 27vw;
    margin-right: 2%;
    margin-left: 3%;

}

.logo{
    margin-top: 10px;
    width: 80px;
    height: 80px;
    border: black solid 2px;

    border-radius: 5px;
}

.logo:hover{

    box-shadow: 5px 5px 15px black, -5px -5px 15px black;
    cursor: pointer;
}






/*------------------------------------------------------*/

.section2{
    position: relative;
    width: 65vw;
    height: auto;
    /*display: inline-block;*/
}



.srch_hed_div{
    display: flex;
    flex-direction: row;
    margin-top: 20px;
    padding-bottom: 10px;
}



.log_btn_div{
margin-left: 15px;
margin-top: 15px;
}

.pro_pic_div{
    /*margin-left: 50px;*/
    display: flex;
    flex-direction: row;
}
.srch_ft_div{
    display: flex;
    flex-direction: row;
    margin-top: 10px;
    width: 800px;
}
.pic_cus{
    width: 50px;
    height: 50px;
    border-radius: 30px;
    cursor: pointer;
}
.login_btn{
    width: 60px;
    height: 20px;
    padding-bottom: 5px;
    padding-top: 5px;
    background-color: #00cc00;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-left: 10px;
    margin-top: 10px;
    text-decoration: none;
    text-align: center;
}

.login_btn:hover{
    background-color: black;
}
.logout_btn{
    width: 80px;
    height: 20px;
    padding-bottom: 5px;
    padding-top: 5px;
    background-color: #ff0000;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-left: 15px;
    margin-top: 10px;
    text-decoration: none;
    text-align: center;  
}

.logout_btn:hover{
    background-color: black;
}

/*---------------------------------------------*/
.txtscrh{
    margin-left: 7%;
    /*margin-top: 30px;*/
    width: 25vw;
    height: 5vh;
    border: 1px ridge #d5d5e6;
}
.txtscrh[placeholder]{
    padding-left: 1%;
}

.btnscrh{
    width: 5vw;
    height: 5vh;
    background-color: #19e5e5;
    border: 0px;
}

.call_icon{
    height: 4.5vh;
    margin-left: 8%;
    /*margin-top: 10%;*/
    cursor: pointer;
}
.tel_no{
    font-size: 1.5vw;
    font-family: fantasy;
    cursor: pointer;
}
.cart_img{
    height: 4.5vh;
    margin-top: 0;
    cursor: pointer;
    margin-left: 3%;
}

.profile_img{
    height: 50px;
    margin-left: 2%;
}

nav{
    margin-top: 4%;
    margin-left: 10%;
    width: 95%;
    height: 2%;
    background-color: white;
    border-radius: 6px;
    /*display: flex;*/
    justify-content: center;
    align-items: center;
}

.navi_item{
    padding: 2% 2% 2% 2%;
    margin-top: 5vh;
    text-decoration: none;
    background-color: black;
    color: white;
    font-family: 'Lobster Two';
    font-size: 1.5vw;
    box-shadow: 10px 15px 50px black;
    letter-spacing: 3px;
    font-weight: 700;


}

.navi_item:hover{
    background-color: #19e5e5;
    box-shadow: none;
    color:white;
    font-weight: 700;
    cursor: pointer;

}

.active{
    background-color: #19e5e5;
    box-shadow: none;
    color:white;
    font-weight: 700;
    /*cursor: pointer;*/
}








.filter_section{
    width: 300px;
    margin-top: 20px;
    margin-left: 30px;
    display: flex;
    flex-direction: column;
    padding-bottom: 25px;
    border-right: black solid 10px;
    background-color: #ececfa;
    border-radius: 10px;

}   
.filter_section a{
    text-decoration:none;
}

.sub_filter01{
    display: flex;
    flex-direction: column;
    margin-top: 30px;
    margin-left: 20px;
    width: 250px;
    padding-bottom: 20px;
    border-bottom: black solid 2px;

}

.sub_filter01 a{
    color: black;
}


.fname_span{
    font-size: 20px;
    font-weight: 700;
    margin-left: 25px;
}
.lname_span{
    font-size: 20px;
    font-weight: 700;
    margin-left: 70px;
    padding-top: 8px;
    padding-bottom: 20px;
}

.pro_img_div{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}

.pro_img_div a{
    padding: 5px 5px 5px 5px;
    font-size: 18px;
    font-weight: bold;
    color: darkblue;
    margin-top: 8px;
    margin-bottom: 8px;
    cursor: pointer;
    box-shadow: 5px 5px 15px black, -5px -5px 15px black;
    border-radius: 5px;
}
.pro_img_div a:hover{
    color: white;
    background-color: black;

}

.pro_img{
    width: 150px;
    height: 150px;
    border-radius: 70px;
}

.oder_hed{
    font-size: 22px;
    font-weight: 700;
    text-align: center;
    padding-bottom: 10px;
}

.oder_items{
    margin-left: 15px;
    padding-bottom: 7px;
    font-size: 18px;
    cursor: pointer;
}

.oder_items:hover{
    font-weight: 700;
}


.summary_main{
    margin-top: 10%;
    display: flex;
    flex-direction: column;
    padding-right: 10px;
    padding-bottom: 30px;
    border-radius: 8px;
    box-shadow: 5px 5px 15px black, -5px -5px 15px black;

}

.summary_sub02{
    display: flex;
    flex-direction: row;
}
.summary_con{
    display: flex;
    flex-direction: column;
    padding-left: 30px;
    padding-top: 30px;
    padding-right: 25px;
    text-align: center;
    width: 200px;
    border-right: black solid 2px;
}

.summary_con span{
    margin-bottom: 10px;
}
.summary_con_last span{
    margin-bottom: 10px;
}

.summary_con_last{
    display: flex;
    flex-direction: column;
    padding-left: 30px;
    padding-top: 30px;
    padding-right: 25px;
    text-align: center;
    width: 200px;

}

.summary_sub01{
    padding-top: 30px;
    padding-bottom: 30px;
    text-align: center;
}
.summary_sub01 span{

    font-size: 22px;
    font-weight: 700;

}






.footer{
    /*position: relative;*/
    bottom: 0;
    width: 100%;
    height: 30vh;
    padding-top: 10%;

}

.footer .outer{
    background-color: #ececfa;
    /*width: 100%;*/
    height: 40vh;
    display: flex;
    align-items: center;
}

.footer .inner1{
    width: 20%;
    height: 50%;
    display: inline-block;
    margin-left: 8%;
    border-right: 1px solid #afafaf;
}

.footer .inner2{
    width: 20%;
    height: 50%;
    display: inline-block;
    margin-left: 3%;
    border-right: 1px solid #afafaf;
}

.footer a{
    display: block;
    padding: 2%;
    color: #04bfbf;
    cursor: pointer;
}

.copyright{
    background-color: #ececfa;
    text-align: center;


}
.copyright span{
    font-weight: 700;
}

/*-------------------to be deliver---------------------------*/
.outer_delivery{
    margin-top: 8%;
}

.to_be_hed_div{
    text-align: center;
    padding-bottom: 10px;
}
.to_be_hed{
    font-size: 22px;
    font-weight: 700;
}
.Oder_deliver_main{
    display: flex;
    flex-direction: row;
    margin-top: 2%;
    border: black solid 1px;
    width: 800px;
    height: 150px;
}

.deliver_img_div{
    width: 100px;
    height: 100px;
    border: black solid 1px;
    border-radius: 5px;
    margin-top: 20px;
    margin-left: 20px;
}

.deliver_img_div img{
    width: 100px;
    height: 100px;
}
.deliver_name_div{
    display: flex;
    flex-direction: column;
    padding-left: 10px;
    margin-left: 30px;
    margin-top: 20px;

}

.deliver_name_div .name_span{
    padding-top: 10px;
    padding-left: 10px;
    padding-bottom: 15px;
    padding-right: 10px;
    font-size: 18px;
    font-weight: 700;
}

.deliver_name_div .qty_d_span{
    padding-top: 10px;
    padding-left: 15px;
}



.deliver_dis_div{
    display: flex;
    flex-direction: column;
    margin-left: 50px;
    padding-left: 10px;
    margin-top: 20px;
}

.deliver_dis_div .purch_date{
    padding-top: 10px;
    padding-left: 15px; 
    padding-bottom: 15px;
}

.deliver_dis_div .disput_btn{
    display: block;
    padding: 5px;
    color: #fff;
    margin: 10px 0 0;
    background: #ff0000;
    text-align: center;
    border-radius: 3px;
    text-decoration: none;
    cursor: pointer;
    box-shadow: 3px 3px 10px black, -3px -3px 10px black;

}
.deliver_dis_div .disput_btn:hover{
    color: white;
    background: black;
    box-shadow: 3px 3px 10px white, -3px -3px 10px white;  
}

.acive_link{
    font-weight: 700;
}


.Traking_btn{
    display: block;
    padding: 5px;
    color: #fff;
    margin-bottom: 15px;
    background: #000099;
    text-align: center;
    border-radius: 3px;
    text-decoration: none;
    cursor: pointer;
    box-shadow: 3px 3px 10px black, -3px -3px 10px black;
}

.Traking_btn:hover{
    color: white;
    background: black;
    box-shadow: 3px 3px 10px white, -3px -3px 10px white;   
}

.Delete_btn{
    width: 100px;
    display: block;
    padding: 5px;
    color: #fff;
    margin-top: 25px;
    background: #ff0000;
    text-align: center;
    border-radius: 3px;
    text-decoration: none;
    cursor: pointer;
    box-shadow: 3px 3px 10px black, -3px -3px 10px black;  
}

.Delete_btn:hover{
    color: white;
    background: black;
    box-shadow: 3px 3px 10px white, -3px -3px 10px white; 
}

